@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.header img {
    width: 250px;
}

.header {
    display: flex;
    justify-content: center;
}

.sub-header{
    background-color: rgba(255, 196, 0, 0.76);
    display: flex;
    justify-content: center;
    border-top: 3px solid #9c8313;
}

.sub-header p{
    color: #3f51b5;
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-content h5{ 
    color: gray;
}
.main-p{
    margin: 1% 34%;
}
.main-image {
    width: 60vh;
    border-radius: 5%;
}
.featured a{
    margin: 0% 35%;
    color: #5d79e5;
}
.featured label {
    color: rgb(245, 139, 0);
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 35%;
}
#recipe {
    margin: 0 35%;
}
#recipe hr{
    background-color: aqua;
}
#recipe a {
    color: #5d79e5;
}